body {
    color: #666666;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#TopBanner {
    height: 50px;
    width: 100%;
    height: 75px;
    text-align: left;
    font-size: 1.2em;
}
#TopBanner img {
    float: right;
    position: relative;
    top: -75px;
    right: 30px;
    
}
